@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root{
    --primary-color: #3a23be;
    --secundary-color: #888;
    --grey--color: #4f4b4b;
    --white--color: #fff;
    --danger--color: #ff0000;
}
html {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 60px;
    background: #fff;
    box-shadow: 0px 1px 1px #c2c2c2;
}
.header__items{
    display: flex;
}
.header__link{
    padding: 6px 14px 6px 14px;
    text-decoration: none;
    color: var(--grey--color);
}
.header__link--action{
    background: var(--white--color);
    border-radius: 10px;
    color: var(--primary-color);
    border: 1px solid;
    border-color: var(--primary-color);
}
.header__link--action:hover{
    background: var(--primary-color);
    color: var(--white--color);
}